<!-- menu.component.html -->
<div class="sidebar-container">

  <!-- Inicio Botones -->
  <div class="menu-items-group">

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Dashboard', route: '/dashboard' })"
      [class.activo]="router.isActive('/dashboard', true)">
      <img class="icono" src="../../../assets/menu-items/panel.png" alt="Dashboard" />
      <p>Dashboard</p>
    </button>

    @if(user?.rol === 'Administrador') {

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Votantes', route: '/votantes' })"
      [class.activo]="router.isActive('/votantes', true)">
      <img class="icono" src="../../../assets/menu-items/votante.png" alt="Votantes" />
      <p>Votantes</p>
    </button>

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Elecciones', route: '/elecciones' })"
      [class.activo]="router.isActive('/elecciones', true)">
      <img class="icono" src="../../../assets/menu-items/eleccion.png" alt="Elecciones" />
      <p>Elecciones</p>
    </button>

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Candidatos', route: '/candidatos' })"
      [class.activo]="router.isActive('/candidatos', true)">
      <img class="icono" src="../../../assets/menu-items/candidato.png" alt="Candidatoss" />
      <p>Candidatos</p>
    </button>

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Auditoría', route: '/auditoria' })"
      [class.activo]="router.isActive('/auditoria', true)">
      <img class="icono" src="../../../assets/menu-items/reporte-de-negocios.png" alt="Auditoría" />
      <p>Auditoría</p>
    </button>
    }

    @if (user?.rol === 'Votante') {
    <button class="menu-item" (click)="onItemSelected({ displayName: 'Vigentes', route: '/vigentes' })"
      [class.activo]="router.isActive('/vigentes', true)">
      <img class="icono" src="../../../assets/menu-items/candidato.png" alt="Candidatos" />
      <p>Candidatos</p>
    </button>
    }

    <button class="menu-item" (click)="onItemSelected({ displayName: 'Cerrar Sesión', route: '/logout' })"
      [class.activo]="router.isActive('/logout', true)">
      <img class="icono" src="../../../assets/menu-items/cerrar-sesion.png" alt="Cerrar Sesión" />
      <p>Cerrar Sesión</p>
    </button>

    <button class="menu-item" style="margin-top: 40px; background-color: rgba(128, 128, 128, 0.199);" (click)="onItemSelected({ displayName: 'Ayuda', route: '/ayuda' })"
      [class.activo]="router.isActive('/ayuda', true)">
      <img class="icono" src="../../../assets/menu-items/help.png" alt="Ayuda" />
      <p>Ayuda</p>
    </button>
  </div>
  <!-- FIN Botones -->
</div>