<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <img src="logo.jpg" alt="Logo UTN" />
      <h2>Registro UTN</h2>
    </div>

    <form (ngSubmit)="registrarUsuario()" #form="ngForm">
      <div class="input-group">
        <input
          [(ngModel)]="nombre"
          name="nombre"
          required
          #nombreField="ngModel"
          placeholder="Nombre completo"
        />
        <div *ngIf="nombreField.invalid && nombreField.touched" class="error">
          El nombre es obligatorio
        </div>
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="identificacion"
          name="identificacion"
          required
          #idField="ngModel"
          placeholder="Identificación"
        />
        <div *ngIf="idField.invalid && idField.touched" class="error">
          La identificación es obligatoria
        </div>
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="correo"
          name="correo"
          required
          email
          #correoField="ngModel"
          placeholder="Correo electrónico"
        />
        <div *ngIf="correoField.invalid && correoField.touched" class="error">
          Correo electrónico inválido
        </div>
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="contrasena"
          name="contrasena"
          required
          minlength="4"
          #passField="ngModel"
          type="password"
          placeholder="Contraseña"
        />
        <div *ngIf="passField.invalid && passField.touched" class="error">
          La contraseña debe tener al menos 4 caracteres
        </div>
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="confirmacion"
          name="confirmacion"
          required
          #confField="ngModel"
          type="password"
          placeholder="Confirmar contraseña"
        />
        <div *ngIf="confField.invalid && confField.touched" class="error">
          Confirma tu contraseña
        </div>
      </div>
      <div class="input-group">
        <label for="perfil">Perfil:</label>
        <select [(ngModel)]="perfilField" name="perfil" required #perfilField="ngModel">
          <option value="" disabled selected>Selecciona un perfil</option>
          <option value="Votante">Votante</option>
          <option value="Administrador">Administrador</option>
        </select>
        <div *ngIf="perfilField.invalid && perfilField.touched" class="error">
          Selecciona un perfil
        </div>
      </div>

      <button type="submit">Registrarse</button>
      <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>
    </form>
  </div>
</div>
