<div class="dashboard-wrapper">
    <app-header></app-header>
    <div class="dashboard-body">
        <aside class="sidebar">
            <app-menu></app-menu>
        </aside>

        <main class="main-content">
            <!-- Contenedor principal para aplicar estilos SCSS -->

            <!-- Encabezado y botón de acción -->


            <div class="filters-container flex w-full h-fit p-4 px-8 bg-white z-10 relative">

                <!-- Filtro por Cédula / Identificación -->
                <div class="max-w-md mx-auto">
                    <h1 class="page-title">Listado de Elecciones</h1>

                </div>

                <span class="example-spacer"></span>

                <div class="pr-4">
                    <button class="btncrear" style="background-color: rgb(5, 44, 101); color: #ffffff;"
                        (click)="redirectSedes()" mat-raised-button>
                        <i class="fa-solid fa-circle-info"></i>
                        Sedes
                    </button>
                </div>

            </div>

            <div class="table-card">

                <!-- Contenedor de Filtros -->
                <div class="filters-container flex w-full h-fit p-2 px-8 bg-white z-10 relative">

                    <div class="max-w-md mx-auto pt-4 pr-5">
                        <select id="role-filter" name="selectedRole" [(ngModel)]="selectedSede"
                            (change)="onFilterChange()"
                            class="text-[#667085] font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center border bg-white">
                            <option selected value="">Todos las sedes</option>

                            <!-- Opciones de roles. Asumo que `roles` tiene `name` y `label` -->
                            @for (sede of datosSede; track sede.Nombre) {
                            <option [value]="sede.IdSede">
                                {{ sede.Nombre }}
                            </option>
                            }
                        </select>
                    </div>

                    <span class="example-spacer"></span>

                    <div class="max-w-md mx-auto pt-4 pr-5">
                        <select id="estado-filter" name="selectedEstado" [(ngModel)]="selectedEstado"
                            (change)="onFilterChange()"
                            class="text-[#667085] font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center border bg-white">

                            <!-- Opciones de roles. Asumo que `roles` tiene `name` y `label` -->
                            @for (estado of estados; track estado.name) {
                            <option [value]="estado.name">
                                {{ estado.label }}
                            </option>
                            }
                        </select>
                    </div>

                    <span class="example-spacer"></span>

                    <!-- Filtro por Cédula / Identificación -->
                    <div class="max-w-md mx-auto">
                        <mat-form-field class="relative">
                            <input matInput type="search" placeholder="Buscar por nombre" [(ngModel)]="searchNombre"
                                (keyup)="onFilterChange()"
                                class="block w-full h-11 p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-transparent focus:ring-indigo-600 focus:border-indigo-600">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>

                    <span class="example-spacer"></span>

                    <div>
                        <button class="btncrear hover:bg-[#e6510053]" style="background-color: #e65100; color: #ffffff;"
                            (click)="crear()" mat-raised-button>
                            <i class="fas fa-plus icon-margin-right"></i>
                            Nueva Elección
                        </button>
                    </div>
                </div>

                <!-- Contenedor de la Tabla -->
                <div class="relative overflow-x-auto">
                    <table mat-table [dataSource]="dataSource" matSort class="w-full text-sm text-left rtl:text-right ">

                        <!-- Columna: Nombre -->
                        <ng-container matColumnDef="Nombre">
                            <th scope="col" class=" border text-xs text-black border-white colcolor" mat-header-cell
                                *matHeaderCellDef mat-sort-header>
                                Nombre Completo </th>
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" mat-cell
                                *matCellDef="let row">
                                {{ row.Nombre }} </td>
                        </ng-container>

                        <!-- Columna: FechaInicio -->
                        <ng-container matColumnDef="FechaInicio">
                            <th scope="col" class="border text-xs text-black border-white colcolor" mat-header-cell
                                *matHeaderCellDef mat-sort-header>
                                Fecha de inicio </th>
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" mat-cell
                                *matCellDef="let row"> {{ row.FechaInicio | date: 'dd/MM/yyyy' }} </td>
                        </ng-container>

                        <!-- Columna: FechaFin -->
                        <ng-container matColumnDef="FechaFin">
                            <th scope="col" class="border text-xs text-black border-white colcolor" mat-header-cell
                                *matHeaderCellDef mat-sort-header> Fecha de cierre </th>
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" mat-cell
                                *matCellDef="let row"> {{ row.FechaFin | date: 'dd/MM/yyyy' }} </td>
                        </ng-container>

                        <!-- Columna: FechaFin -->
                        <ng-container matColumnDef="Sede">
                            <th scope="col" class="border text-xs text-black border-white colcolor" mat-header-cell
                                *matHeaderCellDef mat-sort-header> Sede </th>
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" mat-cell
                                *matCellDef="let row"> {{ row.Sede.Nombre }} </td>
                        </ng-container>

                        <!-- Columna: Acciones -->
                        <ng-container matColumnDef="accion">
                            <th scope="col" class="border text-xs text-black border-white colcolor" mat-header-cell
                                *matHeaderCellDef mat-sort-header> Acciones </th>

                            <td mat-cell *matCellDef="let row">
                                <div class="flex  gap-5">

                                    <!-- Botón Detalle -->
                                    <button mat-icon-button (click)="redirectDetalle(row._id)">
                                        <mat-icon>visibility</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="redirectReport(row)">
                                        <mat-icon>insert_chart</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="update(row._id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <!-- Botón Eliminar / Desactivar -->
                                    <button mat-icon-button (click)="delete(row._id)" style="color: #b52121">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <!-- Mensaje de no datos -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell no-data-message" [attr.colspan]="displayedColumns.length">
                                No se encontraron datos que coincidan con los filtros.
                            </td>
                        </tr>
                    </table>

                    <div>
                        <!-- Paginador -->
                        <mat-paginator #paginator [lang]="'es'" [length]="dataSource.data.length" [pageIndex]="0"
                            [pageSize]="5" aria-label="Seleccione una página">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<app-elecciones-create #eleccionFormModal></app-elecciones-create>
<app-elecciones-delete #deleteEleccionModal></app-elecciones-delete>
<app-elecciones-detail #eleccionDetalleModal></app-elecciones-detail>
<app-elecciones-participacion #eleccionParticipacionModal></app-elecciones-participacion>