.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color:  rgb(5, 44, 101);
}

.dashboard-body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: auto;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  border-bottom:  rgb(5, 44, 101);

  padding: 20px 0;
}

// .sidebar nav a.active,
// .sidebar nav a:hover {
//   background-color: #f57c00;
//   color: #ffffff;
// }

.main-content {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  overflow-y: auto;
}

.titulo {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: white;
 
}
